*{
    margin: 0;
    padding: 0;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    box-sizing: border-box;
}
.container{
    width: 100%;
    height: 100vh;
    background: rgb(196,221,226);
    display: flex;
    align-items: center;
    justify-content: center;
}
.calculator{
    background: rgb(91, 91, 92);
    padding: 20px;
    border-radius: 50px;
    border-color: rgb(246, 248, 242);
    border-width: 10px;
    border-style: outset;
}
.calculator form input{
    border: 0;
    border-style: groove;
    border-width: 5px;
    outline: 0;
    width: 60px;
    height: 60px;
    border-radius: 10px;
    box-shadow: 10px 10px 15px rgba(0, 0, 0, 0.1),5px 5px 15px rgba(10, 10, 10, 0.2);
    background: transparent;
    font-size: 30px;
    color: rgb(244, 242, 242);
    cursor: pointer;
    margin: 10px;
    font-weight: bolder;
}

form .display{
    display: flex;
    justify-content: flex-end;
    margin: 20px 0;
}
form .display input{
    text-align: right;
    flex: 1;
    font-size: 45px;
    box-shadow: none;
}

form input.equal{
    width: 145px;
}

form input.oper{
    color: rgb(12, 12, 12);
}
form input#oper{
    color: rgb(12, 12, 12);
}

form input.btn{
    color: rgb(65, 2, 2);
}